<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087406485181-kuhrcaqi79ts2rejrjqo8kg7f75j50u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087406485181-kuhrcaqi79ts2rejrjqo8kg7f75j50u5</string>
	<key>API_KEY</key>
	<string>AIzaSyAlsH_yy_NMYXCrlCDqjCkLTqJ0ayUskmc</string>
	<key>GCM_SENDER_ID</key>
	<string>1087406485181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycaselog</string>
	<key>PROJECT_ID</key>
	<string>mycaselog-test-9e273</string>
	<key>STORAGE_BUCKET</key>
	<string>mycaselog-test-9e273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087406485181:ios:45a885eca0b82afcef91d4</string>
</dict>
</plist>